body {
    font-family: "Nanum-Gothic", "나눔고딕", "Apple SD Gothic", sans-serif;
    background: #666666 !important;
}

a {
    text-decoration: none;
    color: #333333;
}

/* 플레이어 카드 */
.player-card {
    position: relative;
    float: left;
    width: 55px;
    height: 70px;
    border: 1px solid #eeeeee;
    padding: 5px;
    background: #ffffff;
    text-align: center;
}

.player-image {
    width: 100%;
}

.player-text {
    font-size: 0.8em;
    font-weight: 500;
}

.clear {
    clear: both;
}

.player-watermark {
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    background: #eeee55;
    color: #000000;
}

/* fa 플레이어 카드 */
.fa-player-card {
    position: relative;
    float: left;
    width: 120px;
    height: 140px;
    border: 1px solid #eeeeee;
    padding: 5px;
    background: #ffffff;
    text-align: center;
    overflow: hidden;
}

.fa-moved-player-card {
    position: relative;
    float: left;
    width: 120px;
    height: 160px;
    border: 1px solid #eeeeee;
    padding: 5px;
    background: #ffffff;
    text-align: center;
    overflow: hidden;
}

.fa-player-image {
    height: 100px;
    overflow: hidden;
}

.fa-player-image img {
    width: 100%;
}

.fa-player-watermark {
    position: absolute;
    left: -25px;
    top: 10px;
    padding: 5px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    width: 100px;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fa-yet {
    background: #209023;
}

.fa-re {
    background: #002A80;
}

.fa-move {
    background: #ffff00;
    color: #000000;
}

.dday {
    display: inline-block;
    font-size: 2em;
    font-weight: 700;
    padding: 5px;
    color: #eeee55;
    background: #000000;
}
